.header {
  @include setHeightWidth(auto, 100%);
  max-width: 100vw;
  padding: 15px 30px;
  border-bottom: 1px solid #34495e;
  background-color: $bg-primary;

  &--wrapper {
    @include setHeightWidth(100%, 100%);
    @include flexboxLayout(row, center, space-between);

  }

}